<app-header></app-header>
    <div class="container">
        <div class="row justify-content-center bravo-login-form-page bravo-login-page">
            <div class="col-md-5">
                <div class="">
                    <form class="form bravo-form-register" 
                    method="post" 
                    action="http://imginfotech.in/propira/api/registration"
                    [formGroup]="registerForm" 
                    *ngIf ="isShown"
                    novalidate (ngSubmit)="submitForm()">
                    <h4 class="form-title">Register</h4>
                        <input type="hidden" name="_token" value="BKwZDIG2QxDPQMqih3ne0dxWY1ewUG1PPWFVklqX"> 
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="fname" class="form-control" name="first_name" autocomplete="off" placeholder="First Name" 
                                    formControlName="fname"
                                    [(ngModel)]="person.name">
                                    <i class="input-icon field-icon fa">
                                    <!-- <img src="images/ico_fullname_signup.svg"> -->
                                    </i>
                                    <div class="alert alert-danger" *ngIf="isValidInput('fname')">
                                        <div *ngIf="registerForm.controls['fname'].errors?.required">
                                            First Name is required.
                                        </div>
                                        <div *ngIf="registerForm.controls['fname'].errors?.minlength">
                                            At least 3 charcter is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input type="lname" class="form-control" name="last_name" autocomplete="off" placeholder="Last Name" formControlName="lname">
                                    <i class="input-icon field-icon fa">
                                    <!-- <img src="images/ico_fullname_signup.svg"> -->
                                    </i>
                                    <div class="alert alert-danger" *ngIf="isValidInput('lname')">
                                        <div *ngIf="registerForm.controls['lname'].errors?.required">
                                            Last Name is required.
                                        </div>
                                        <div *ngIf="registerForm.controls['lname'].errors?.minlength">
                                            At least 3 charcter is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" autocomplete="off" placeholder="Email address" 
                            formControlName="email"
                            [(ngModel)]="person.email"> 
                            <i class="input-icon field-icon fa">
                            <!-- <img src="images/ico_email_login_form.svg"> -->
                            </i>
                            <div class="alert alert-danger" *ngIf="isValidInput('email')">
                                <div *ngIf="registerForm.controls['email'].errors?.required">
                                    Email is required.
                                </div>
                                <div *ngIf="registerForm.controls['email'].errors?.pattern">
                                    Invalid format.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="phonenumber" class="form-control" name="phonenumber" autocomplete="off" placeholder="Mobile number" 
                            formControlName="phonenumber"
                            [(ngModel)]="person.mobile">
                            <i class="input-icon field-icon fa">
                            <!-- <img src="images/ico_email_login_form.svg"> -->
                            </i>
                            <div class="alert alert-danger" *ngIf="isValidInput('phonenumber')">
                                <div *ngIf="registerForm.controls['phonenumber'].errors?.required">
                                    Mobile number is required.
                                </div>
                        
                                <div *ngIf="registerForm.controls['phonenumber'].errors?.pattern">
                                    Letters are not allowed.
                                </div>
                                <div *ngIf="registerForm.controls['phonenumber'].errors?.minlength">
                                    Must contain 10 digits.
                                </div>
                                <div *ngIf="registerForm.controls['phonenumber'].errors?.maxlength">
                                    Must Contain 10 digits.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" autocomplete="off" placeholder="Password" 
                            formControlName="password"
                            [(ngModel)]="person.password">
                            <i class="input-icon field-icon fa">
                            <!-- <img src="images/ico_pass_login_form.svg"> -->
                            </i>
                            <div class="alert alert-danger" *ngIf="isValidInput('password')">
                                <div *ngIf="registerForm.controls['password'].errors?.required">
                                    Password is required.
                                </div>
                                <div *ngIf="registerForm.controls['password'].errors?.minlength">
                                    Minimum 6 characters are required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="term">
                            <input id="term" type="checkbox" name="term" class="mr5" formControlName="checkbox">
                                I have read and accept the 
                                <a href='#' target='_blank'>Terms and Privacy Policy</a>
                                <span class="checkmark fcheckbox"></span>
                            </label>
                            <div class="alert alert-danger" *ngIf="isValidInput('checkbox')">
                                <div *ngIf="registerForm.controls['checkbox'].errors?.required">
                                    Plaese Check.
                                </div>
                            </div>
                        </div>
                        <div class="error message-error invalid-feedback"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary form-submit" (click)="addData()" [disabled]="!registerForm.valid">
                                Sign Up
                                <span class="spinner-grow spinner-grow-sm icon-loading" role="status" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="c-grey f14 text-center">
                            Already have an account?
                            <a href="#" data-target="#login" data-toggle="modal">Log In</a>
                        </div>
                    </form> 
                    <form class="login100-form validate-form ng-untouched ng-pristine ng-star-inserted ng-invalid" 
                    id="verifyOtp" method="post" name="verifyotp" novalidate="" style="position: relative;"
                    *ngIf="show">
                        <h4 class="text-center"><b>Verify</b></h4>
                        <div class="wrap-input100">
                            <label class="text-center">OTP has been sent to your mobile {{person.mobile}}, please enter same here to verify.</label>
                        </div>
                        <div class="row otpVerify" style="margin: 0;">
                            <div class="wrap-input100 col-md-2 col-2">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass1" maxlength="1" name="pass1" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-md-2 col-2" style="padding: 0;">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass2" maxlength="1" name="pass2" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-md-2 col-2" style="padding: 0;">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass3" maxlength="1" name="pass3" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-md-2 col-2" style="padding: 0;">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass4" maxlength="1" name="pass4" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-md-2 col-2" style="padding: 0;">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass5" maxlength="1" name="pass5" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 col-md-2 col-2" style="padding: 0;">
                                <input class="input100 change ng-untouched ng-pristine ng-invalid" id="pass6" maxlength="1" name="pass6" required="" size="1" type="tel">
                                <span class="focus-input100"></span>
                            </div>
                        </div>
                        <p class="one_time_password text-danger" style="cursor:pointer; margin:0px; font-size: 12px;float:right; color:red;">RESEND (OTP)</p>
                        <div class="row justify-content-center" style="margin-top: 15px; margin-left: 80px;">
                            <button type="submit" class="btn btn-primary submit" (click)="submit">
                                Verify
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>    
    </div>
<app-footer></app-footer>
